<div class ="flex-container">

<h2>Catfighters list :</h2>

<% @warriors.each do |warrior| %>
  <div class="cat-card">
    <div> <%= war_avatar(warrior) %> </div>
    <div class="presentation">
      <span id="name"> <%= warrior.name %> </span>
      <br>
      <%= warrior.intro %>
    </div>
    <div class="characteristics">
      Life points: <%= warrior.life_points %>
      <br>
      Points of attack: <%= warrior.strength %>
      <br>
      Experience: <%= warrior.xp %>
    </div>
  </div>
<% end %>

<%= link_to "Create a new Catfighter", new_warrior_path %>
<%= link_to "Back to Arena (Home page)", root_path %>
</div>
