<h2>Start a new fight: </h2>

<div class="form">
  <%= simple_form_for @fight do |f| %>
    <%= f.input :fighter_1_id, collection: @warriors %>
    <%= f.input :accessory_1_id, collection: Accessory.list_names %>
    <%= f.input :fighter_2_id, collection: @warriors %>
    <%= f.input :accessory_2_id, collection: Accessory.list_names %>
    <br>
    <%= f.submit "Fight",input_html: {id: 'btn-submit'} %>
  <% end %>
</div>

