<div class ="flex-container">

  <h2>Check out all fights:</h2>

  <div class="history-table">

      <strong> Date </strong>
      <strong> Fighter 1 </strong>
      <strong> Fighter 2 </strong>
      <strong> Attacks </strong>
      <strong> Winner </strong>

    <% @fights.each do |fight| %>
      <div><%= fight.created_at.to_date %> </div>
      <div><%= fighter_name(fight.fighter_1_id) %></div>
      <div><%= fighter_name(fight.fighter_2_id) %></div>
      <div><%= fight.strokes %></div>
      <div><%= fight.winner %></div>
    <% end %>
  </div>

  <h2>Who's the best fighter ?:</h2>
  <%= best_winner %> <br>
  <%= best_xp %>
</div>
