<div class ="flex-container">

  <h2>And the winner is:</h2>

  <p class="text-centered"> Congrats! <br> <%= @fighter_1.name %> and  <%= @fighter_2.name %> fought very bravely. <br> After <%= @fight.strokes %> claw attacks exchanged, there might be only one survivor:  </p>

  <% if @winner == "Ex-aequo" %>

    <h1> Ex-aequo </h1>
    <%= image_tag('claws.png', class: "avatar") %>
    <p class="text-centered"> Nobody wins, nobody get XP points...</p>

  <%else %>

    <h1> <%= @winner.name %></h1>
    <%= image_tag(@winner.avatar, class: "avatar") %>
    <p class="text-centered"> <%= @winner.name %> wins <%= @xp %> XP points.</p>

  <% end %>

  <div class="center-items">
    <%= link_to "Back to Arena", root_path, class: "btn-action" %>
  </div>
</div>
